<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Web Design by Caleb Charles">
    <meta name="keywords" content="Web,Developement,Caleb,Charles,Caleb Charles,csmcharles,CSMCharles,design,programming">
    <meta name="author" content="Caleb Charles">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
          type="image/png"
          href="favicon.png">
    <title>csmcharles</title>

    <!--style-->
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Open+Sans:300" rel="stylesheet">
</head>
<body>
<%- include('home') %>
</body>
</html>