body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.container--flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {

}

h1 {
    margin: 0;
    font-size: 100px;
    font-family: 'Josefin Slab', sans-serif;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 50px;
    }
}